<%= render partial: 'admin/header' %>

<div id='admin_invoice_container'>
  <div id='admin_invoice_container_header'>
    <h2>Invoice # <%= @invoice.id %></h2>
  </div>

  <div class="break"></div>

  <div id='admin_invoice_container_body'>
    <div id='admin_invoice_status'>
      <%= form_with model: @invoice, url: admin_invoice_path(@invoice) do |f|%>
        <%= f.label :status, "Status: " %>
        <%= f.select(:status, ["in progress", "cancelled", "completed"]) %>
        <%= f.submit %>
      <% end %>
    </div>

    <div class="break"></div>

    <p>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>

    <p>Total Revenue: <%= number_to_currency(@invoice.total_revenue) %></p>

    <h2>Customer:</h2>
    <div id='admin_invoice_customer'>
      <%= @invoice.customer.first_name + ' ' + @invoice.customer.last_name %>
    </div>

    <div class="break"></div>

    <h2>Items on this Invoice:</h2>
    <div id='admin_invoice_items'>
      <table>
        <tr>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Status</th>
        </tr>
        <% @invoice.invoice_items.each do |invoice_item| %>
        <tr>
          <td><%= invoice_item.item.name %></td>
          <td><%= invoice_item.quantity %></td>
          <td><%= number_to_currency(invoice_item.unit_price) %></td>
          <td><%= invoice_item.status %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
