<%= render 'merchants/header', locals: {merchant_id: @merchant} %>
<h1> Merchants Invoices show page </h1>

<h3> Invoice # <%= @invoice.id %> </h3>

<section>
  <p>
    <%= form_with model: @invoice, url: merchant_invoice_path, merchant_id: @merchant.id, method: :patch do |form| %>
                <%= form.label :status %>
                <%= form.select :status, ['in progress', 'cancelled', 'completed'] %>
                <%= form.submit %>
              <% end %>
  </p>
  <p>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %> <%= @invoice.status %></p>
</section>

<div class="total-revenue">
  <p>Total Revenue: <%= number_to_currency(@invoice.total_revenue) %> </p>
</div>

<div class="total-revenue-with-discounts">
  <p>Total Revenue after Discounts: <%= number_to_currency(@invoice.total_revenue - @invoice.total_discounts) %></p>
</div>

<div class="customer">
  <h2>Customer:</h2>
  <ul>
    <li><%= @invoice.customer.name %></li>
  </ul>
</div>

<div class="show-items">
  <h2>Items on this Invoice:</h2>
    <ul>
      <% @invoice.invoice_items.each do |invoice_item| %>
      <li id="item-<%=invoice_item.item.id%>">
        <%= invoice_item.item.name %>---<%= invoice_item.quantity %>---<%= number_to_currency(invoice_item.item.unit_price) %>---<%= invoice_item.status %>
        <% if invoice_item.qualified_discount.class == String %>
          <%= invoice_item.qualified_discount %>
        <% else %>
          <%= link_to invoice_item.qualified_discount.id, merchant_discount_path(@merchant, invoice_item.qualified_discount) %>
        <% end %>
      </li>
      <% end %>
    </ul>
</div>
