<%= render 'merchants/header', locals: {merchant_id: @merchant} %>
<h1>Discounts Index Page</h1>

<header>
  <h2>Upcoming Holidays</h2>
  <ul>
    <% @upcoming_holidays.each do |holiday| %>
    <li><%= holiday[:name] %> <%= holiday[:date] %></li>
    <% end %>
  </ul>
</header>

<div class="discounts">
  <h2>Bulk Discounts:</h2>
  <ul>
    <% @discounts.each do |discount| %>
    <li>
        Discount No. <%= link_to discount.id, merchant_discount_path(@merchant.id, discount.id) %>
        Bulk Discount Percentage: <%= number_to_percentage(discount.percent * 100, precision: 0) %>
        Quantity Threshold: <%= discount.quantity %>
        <%= link_to "Delete Discount", merchant_discount_path(@merchant.id, discount.id), method: :delete %>
    </li>
    <% end %>
  </ul>
</div>

<%= link_to "Create Discount", new_merchant_discount_path %>
