<h1>New Merchant Discount Form</h1>

<%= form_with model: [:merchant, Discount.new] do |form| %>
  <%= form.label :percent %>
  <%= form.number_field :percent, in: 0.01..0.99, step: 0.01 %>
  <%= form.label :quantity %>
  <%= form.number_field :quantity, in: 1..100, step: 1 %>
  <%= form.submit %>
<% end %>
