<%= render 'merchants/header', locals: {merchant_id: @merchant} %>

<header id="merchant-title">
  <h1><%= @merchant.name %> Dashboard</h1>
</header>

<div class="merchant-items">
  <h2>Items Ready to Ship</h2>
    <ul>
        <% @invoice_items.items_ready_to_ship(@merchant).each do |item| %>
      <li>
          <%= item.item_name %> <%= link_to item.invoice_id, merchant_invoice_path(@merchant.id, item.invoice_id) %> <%= item.created_at.strftime("%A, %B %d, %Y") %>

      </li>
        <% end %>
    </ul>
</div>

<div class="favorite-customers">
  <h2>Favorite Customers</h2>
      <% @merchant.top_five_customers(@merchant.id).each do |customer| %>
    <ol>
      <%= customer.name %> Purchases: <%= customer.count %>
    </ol>
      <% end %>
</div>
